@model PagedResult<ProductViewModel>
@{

    int selectedPage = Model.PageIndex;

}

<div class="container" style="margin-top: 10px">
    <nav aria-label="Page navigation">
        @if (Model.PageCount > 1)
        {
            <ul class="pagination justify-content-center">
                <li class="page-item @(selectedPage <= 1 ? "disabled" : string.Empty)">
                    <a class="page-link" asp-controller="Products" asp-action="All"
                   asp-route-pageIndex="@(Model.PageIndex - 1)"
                   asp-route-searchTerm="@Model.SearchTerm"
                   asp-route-sorting="@((int)Model.Sorting)"
                   asp-route-categoryId="@Model.CategoryId">Previous</a>
                </li>
                @for (int i = selectedPage - 3; i < selectedPage; i++)
                {
                    if (i >= 1)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="Products" asp-action="All"
                                                asp-route-pageIndex="@(Model.PageIndex = i)"
                                                asp-route-searchTerm="@Model.SearchTerm"
                                                asp-route-sorting="@((int)Model.Sorting)"
                                                asp-route-categoryId="@Model.CategoryId">@i</a>
                        </li>
                    }

                }
                <li class="page-item active"><span class="page-link">@selectedPage</span></li>
               
                @for (int i = selectedPage + 1; i < selectedPage + 4; i++)
                {
                    if (i <= Model.PageCount)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="Products" asp-action="All"
                                                asp-route-pageIndex="@(Model.PageIndex = i)"
                                                asp-route-searchTerm="@Model.SearchTerm"
                                                asp-route-sorting="@((int)Model.Sorting)"
                                                asp-route-categoryId="@Model.CategoryId">@i</a>
                        </li>
                    }
                }
                <li class="page-item @(selectedPage >= Model.PageCount ? "disabled" : string.Empty)">
                    <a class="page-link" asp-controller="Products" asp-action="All"
                   asp-route-pageIndex="@(selectedPage + 1)"
                   asp-route-searchTerm="@Model.SearchTerm"
                   asp-route-sorting="@((int)Model.Sorting)"
                   asp-route-categoryId="@Model.CategoryId">Next</a>
                </li>
            </ul>
        }
    </nav>
</div>