@using System.Text.Json;
@model PreviewOrderViewModel

@{
    ViewData["Title"] = "Preview";

    var buttonText = string.IsNullOrEmpty(Model.UserDetails.AddressInfo.AddressLine1) ? "Enter Address" : "Edit Address";
    
}

<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Delivery Details</h5>
                <hr />
                <h6 class="card-subtitle mb-2 font-weight-bold">First Name: @Model.UserDetails.FirstName</h6>
                <h6 class="card-subtitle mb-2 font-weight-bold">Last Name: @Model.UserDetails.LastName</h6>
                <hr/>
                <h6 class="card-subtitle mb-2 font-weight-bold align-content-center">Delivery Address</h6>
                <hr/>
                @if(string.IsNullOrEmpty(Model.UserDetails.AddressInfo.AddressLine1))
                {
                    <span>You should enter delivery address.</span>
                }
                else
                {
                    <span>Address: @Model.UserDetails.AddressInfo.AddressLine1 <br /></span>
                    if (!string.IsNullOrEmpty(@Model.UserDetails.AddressInfo.AddressLine2))
                    {
                        <span>Address 2: @Model.UserDetails.AddressInfo.AddressLine2 <br /></span>
                    }

                    <span>Phone: @Model.UserDetails.AddressInfo.PhoneNumber <br /></span>
                    <span>Town: @Model.UserDetails.AddressInfo.City <br /></span>
                    <span>PostCode: @Model.UserDetails.AddressInfo.PostCode <br /></span>
                }
                <p class="card-text"><a asp-action="Address" asp-controller="ShoppingCart" class="btn btn-primary">@buttonText</a></p>

            </div>
        </div>
    </div>
    <div class="col-lg-8">

        @foreach (var item in Model.Cart.StoredItems)
        {
            <div class="row">
                <img class="img-thumbnail" width="150" height="200" src="~/media/@item.ImageItem" alt="@item.Name" />
                <div class="col">@item.Name</div>
                <div class="col">Quantity: @item.Quantity</div>
                <div class="col">Price: @item.Price</div>


            </div>
            <hr />
        }

        <div class="data-table bottom">
            <div class="row text-right offset-9">Total Price: @Model.Cart.TotalPrice</div>
        </div>
        <br/>

        <div class="offset-9">
            <a asp-controller="ShoppingCart" asp-action="Payment" class="btn btn-outline-primary">Payment</a>
        </div>

    </div>

</div>