@model AllOrdersViewModel

@{
    ViewBag.Title = "My Orders";
}

<div class="container">
    <div class="col-12">


        @if (!Model.Orders.Any())
        {
            <h3>You do not have any orders yet.</h3>
        }
        else
        {
            foreach (var order in Model.Orders)
            {
                if (order.Items.Any())
                {
                    <table class="table-hover mt-4" width="100%">
                        <caption style="caption-side:top"><h4>Order Details: Created on @order.CreatedAt</h4></caption>
                       @foreach (var item in order.Items)
                        {
                            <tbody>
                                <tr onclick="location.href = '@(Url.Action("Details", "Products", new {id=item.ProductId }))'" >
                                    
                                    <td class="col-4">
                                        <a>
                                            <img src="~/media/@item.ImageUrl" class="img-thumbnail" width="120" height="150" alt="@item.Name" />
                                        </a>
                                    </td>
                                    <td class="col-4">
                                        <h5>@item.Name</h5>
                                    </td>
                                    <td class="col-2">
                                        <h6>Quantity: @item.Quantity</h6>
                                    </td>
                                    <td class="col-2">
                                        <h5>Price: @item.ProductPrice</h5>
                                    </td>
                                </tr>
                            </tbody>

                        }
                        <tr>
                            <td colspan="4" class="text-right">
                                <h5>Total: @order.TotalPrice</h5>
                            </td>
                        </tr>
                    </table>
                }

            }
        }


    </div>
</div>
@*@section Scripts{
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".click-row").click(function () {
                window.location = $(this).data("href");
            });
        });
    </script>
}*@