@using OnlineShop.ViewComponents
@*@model ProductListViewModel*@
@model PagedResult<ProductViewModel>
@{
    ViewBag.Title = "All Products";

}


<form method="get" id="loadingForm" asp-action="All" asp-controller="Products" class="mt-3" onchange="sendForm()">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="SearchTerm"></label>
                <div class="input-container">
                    <input asp-for="SearchTerm" class="form-control" placeholder="search...">
                    <button id="clearSearch" class="btn btn-outline-primary iconBtn"><i class="fas fa-eraser"></i></button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Sorting"></label>
                <select name="Sorting" asp-for="Sorting" class="form-control">
                    <option value="0">None</option>
                    <option value="1">Latest</option>
                    <option value="2">Price</option>
                    <option value="3">Name</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" class="form-control">
                    <option value="">All</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>
        </div>
        <input class="btn d-none" type="submit" />
    </div>
</form>

<div class="card-deck">
    @for (int i = 0; i < Model.Products.Count(); i++)
    {
        var product = Model.Products.ElementAt(i);
        <div class="col-md-4">
            <div class="card">
                <img src="@product.ImageUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text icon">Price: @product.Price <i class="bi bi-currency-euro"></i></p>
                    <a class="card-link" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">Details</a>
                </div>
            </div>
        </div>
    }

    @(await Component.InvokeAsync<PagerViewComponent>(Model))
</div>
@section Scripts{
    <script >

        let form = document.querySelector('#loadingForm');
        let timeout = null;

        let searchingElement = form.querySelector('input');
        searchingElement.addEventListener('keyup', (e) => {
            clearTimeout(timeout);
            timeout = setTimeout(function () {
                sendForm();
            }, 1000);
        })

        function sendForm() {
            form.submit();
        }

        let clearSearch = document.querySelector('#clearSearch').addEventListener('click', (e) => {
            e.preventDefault();
            if (searchingElement.value != '') {
                searchingElement.value = '';
                sendForm();
            }
        });
    </script>
} 