@model DetailsProductViewModel

@{
    ViewData["Title"] = "Details";
}
    <div class="row">
        <div class="col-md-4">
            <img src="@Model.ImageUrl" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">Description: @Model.Description</p>
            <span>Price: @Model.Price <i class="bi bi-currency-euro"></i></span>
            </div>
            <div class="action-button">
                <a class="btn btn-outline-primary btn-lg" type="submit" asp-controller="ShoppingCart" asp-action="Add" asp-route-id="@Model.Id"><i class="fas fa-cart-arrow-down"></i> Add to cart</a>
            </div>
        </div>
    </div>    