@using OnlineShop.ViewComponents
@model PagedResult<ProductViewModel>


@{
    ViewBag.Title = "All Products - Admin";

    var userIsAdmin = User.IsInRole(AdminConstants.AdministratorRoleName);
}

<div class="row mb-4">
    <div class="col-3 offset-9 text-right">
        <a asp-controller="Products" asp-action="Add" class="btn btn-primary">Add</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <h6>Results - @Model.TotalCount</h6>
    </div>
</div>
<ul class="list-group with-checkbox">
    <li class="list-group-item bg-light">
        <div class="row">
            <div class="col">
                Products
            </div>
            <div class="col d-flex justify-content-start flex-row-reverse">
                Actions
            </div>
        </div>
    </li>
    @if (Model.TotalCount > 0)
    {
        
        @foreach (var product in Model.Products)
        {
            <li class="list-group-item">
                <div class="row">
                    <div class="col-3 adminImg">
                        <img src="~/media/@product.ImageUrl" alt="icon" title="@product.Name"/>
                    </div>
                    <div class="col-3">
                        Name: @product.Name
                    </div>
                    <div class="col-3">
                        Price: @product.Price
                    </div>
                    <div class="col-3 text-right">
                        <a asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-warning">Edit</a>
                        <a asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </li>

        }
        @(await Component.InvokeAsync<PagerViewComponent>(Model))
    }
    else
    {
        <li class="list-group-item">
            <div class="alert alert-info">
                "No results found."
            </div>
        </li>
    }
</ul>

@section Scripts{
    <script>

    </script>
}






