@model OrderViewModel

@{
    ViewBag.Tytle = "My orders";
}


    <div class="col-md-8 offset-2">
        <div class="container">
            <span>Your order created on @Model.CreatedAt</span>
        </div>
        @foreach (var item in Model.Items)
        {
            <div class="row">
                <img class="img-thumbnail" width="150" height="200" src="~/media/@item.ImageUrl" alt="@item.Name" />
                <div class="col">@item.Name</div>
                <div class="col">Quantity: @item.Quantity</div>
                <div class="col">Price: @item.ProductPrice</div>
            </div>
        }

        <div class="row text-right offset-9">Total Price: @Model.TotalPrice</div>
    </div>






