@using OnlineShop.ViewComponents
@model PagedResult<ProductViewModel>


@{
    ViewBag.Title = "All Products - ShopOwner";
}

<div class="row">
    <div class="col">
        <h6>Results - @Model.TotalCount</h6>
    </div>
</div>

@if (Model.TotalCount > 0)
{
    <section class="section dashboard">
        <div class="row">
            <div class="col-12">
                <div class="card top-selling overflow-auto">
                   
                    <div class="card-body pb-0">
                        <h5 class="card-title">All Products</h5>

                        <table class="table table-hover table-of-contents">
                            <thead>
                                <tr>
                                    <th scope="col">Preview</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Price</th>
                                    <th scope="col" style="text-align: right">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var product in Model.Products)
                                {
                                    <tr>
                                        <th scope="row"><img src="@product.ImageUrl" alt=""></th>
                                        <td> @product.Name</td>
                                        <td>@product.Price</td>
                                        <td style="text-align: right">
                                            <div style="display: inline">
                                                <a asp-area="ShopOwner" asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-warning">Edit</a>
                                                <form method="post" id="deleteForm" asp-area="ShopOwner" asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id" style="display: none">
                                                </form>
                                                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @(await Component.InvokeAsync<PagerViewComponent>(Model))
}
else
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        No results found!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="modal fade" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this product?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" id="confirmDelete">Yes</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        let deleteForm = document.querySelector('#deleteForm');
        let confirmBtn = document.getElementById('confirmDelete').addEventListener('click', () => {
            deleteForm.submit()
        });
    </script>
}






